.RFORM {
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: rgb(225, 198, 156);
  font-weight: bold;
}
.first {
  background-color: black;
}
.welcome {
  color: #987f10;
  text-align: center;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.info {
  color: #987f10;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.sbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goto {
  padding: 10px 20px;
  font-size: 22px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.htmlclass {
  background-image: url(1000_F_826059877_eiDcwy5lULz8uSJkQ6bdWpqOXz4X6Yul.jpg);
  display: flex;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Registeration-FORM {
  width: 65%;
  max-width: 250;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px white;
}

/*.block-form {
  width: 50%;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}*/
.FORM-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: white;
  text-shadow: 2px 2px black;
  border-bottom: solid 1px white;
}
.main-user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.user-input-box:nth-child(2n) {
  justify-content: end;
}

.user-input-box {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 15px;
}
.user-input-box label {
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}
.user-input-box input {
  height: 40px;
  width: 600;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.gender-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid white;
}
.gender-category {
  margin: 20px;
  color: white;
}
.gender-category label {
  padding: 0 30px 0 15px;
}
.gender-category label,
.gender-category input,
.form-submit-btn input {
  cursor: pointer;
}
.form-submit-btn {
  margin-top: 40px;
}
.form-submit-btn input {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: rbga(63, 114, 76, 0.7);
}

.form-submit-btn input:hover {
  background: rgba(56, 204, 93, 0.7);
  color: rgba(225, 225, 225);
}
a:link {
  color: #109810;
  text-decoration: none;
}
a:visited {
  color: #109810;
}
a:hover {
  color: rgba(56, 204, 93, 0.7);
  text-decoration: underline solid orangered;
}
a:active {
  backgrond-color: black;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: linear-gradient(to top, rgb(o, o, o, 0.5) 50%)  
  background-position: center;
  background-size: cover;
  height: 109vh;

}
.navbar {
  width: 1200px;
  height: 75;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: orangered;
  font-family: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 60px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  
  color: #ff7200;
}
.search{
  width: 330px;
  float:left;
  margin-left: 270px;

}
.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color:#fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;

}
.btn:focus{
  outline:none;

}
.srch:focus{
  outline: none;
}
.content{
  width: 1200;
  height: auto;
  margin: auto;
  color:black;
  position: relative;
}
.content.part{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  margin
}



