body{
  margin:0;
  padding:0;
  background-image: url(pexels-photo-346529.webp);
  background-size: cover;
  height: 100vh;
  font-family: sans-serif;
}
  
  .box1 {
    height: 360px; 
    width: 250px;
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;
    padding: 30px 30px;
    border-radius: 30px;
  }

  h1{
    margin: 0;
    padding:0 0 20px;
    text-align: center;
    font-size: 25px;
  }

  .error{
    color:#fa0909;
   }

   .box1 input {
    width: 200px;
   }
   .box1 input[type="text"], input[type="password"] , input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    height: 20px;
    font-size: 15px;
   }
   .box1 input[type="radio"]{
     width:10px;
   }
   .box1 input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: aquamarine;
    color: #000;
    border-radius: 20px;
  }

  .box1 input[type="submit"]:hover{
    cursor: pointer;
    background-color: blue;
   }
